version: "3.8"

services:
  nasa-img:
    container_name: nasa-img
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: ${VITE_API_URL}
        VITE_BASE_URL: ${VITE_BASE_URL}
    ports:
      - "5000:5000"
    env_file:
      - .env
    restart: "always"